*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    overflow: hidden;
}

.bg{
    width: 100%;
    height: 100%;
    background: rgb(175,103,233);
    background: linear-gradient(180deg, rgba(175,103,233,1) 22%, rgba(101,101,231,1) 89%);
    position: absolute;
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}

.center{
    width: 900px;
    height: 470px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.459);
    display: grid;
    grid-template-columns: 490px 410px;
    position: relative;
}

.left-content{
    background-image: url(images/bg-pattern-desktop.svg);
    background-position: right 120px center, right 100px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.left-content .woman{
    position: absolute;
    top: 30px;
    left: -80px;
    pointer-events: none;
}

.woman-resp{
    display: none;
}

.box{
  position: absolute;
  top: 170px;
  left: -120px;
  z-index: 111;
  pointer-events: none;
}


.right-content{
    position: relative;

}

.intro{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    color : hsl(238, 29%, 16%);
    position: absolute;
    top: 60px;
}

.list div{
    border-bottom: solid thin hsl(240, 5%, 91%);
}



.more1, .more2, .more3, .more4, .more5{
    display: none;
    line-height: 16px;
    color: hsl(240, 6%, 50%);
}
/* ////////////////// */
.btn1.active{
    transform: rotate(180deg);
}
.btn2.active{
    transform: rotate(180deg);
}
.btn3.active{
    transform: rotate(180deg);
}
.btn4.active{
    transform: rotate(180deg);
}
.btn5.active{
    transform: rotate(180deg);
}
/* /////////////////////// */
.list{
    position: absolute;
    top: 115px;
}
.item1, .item2, .item3, .item4, .item5{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color:hsl(240, 6%, 50%);
    width: 350px;
    font-size: 14px;
    line-height: 55px;
    position: relative;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.item1:hover{
    color:hsl(14, 88%, 65%);
}
.item2:hover{
    color:hsl(14, 88%, 65%);
}
.item3:hover{
    color:hsl(14, 88%, 65%);
}
.item4:hover{
    color:hsl(14, 88%, 65%);
}
.item5:hover{
    color:hsl(14, 88%, 65%);
}

/* ///////////////////////// */

.item1.active{
    color:hsl(238, 29%, 16%);
}
.item2.active{
    color:hsl(238, 29%, 16%);
}
.item3.active{
    color:hsl(238, 29%, 16%);
}
.item4.active{
    color:hsl(238, 29%, 16%);
}
.item5.active{
    color:hsl(238, 29%, 16%);
}
/* /////////////////////// */
.item1 button{
    position: absolute;
    right: 0;
    top: 15px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}


.item2 button{
    position: absolute;
    right: 0;
    top: 15px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.item3 button{
    position: absolute;
    right: 0;
    top: 15px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.item4 button{
    position: absolute;
    right: 0;
    top: 15px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.item5 button{
    position: absolute;
    right: 0;
    top: 15px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
/* ////////////////// */

